@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model DanhMuc
<div class="container">
    <h1>Chỉnh sửa danh mục</h1>
    <form asp-action="XacNhanXoa" method="post">
        <input asp-for="Id" type="hidden"/>
        <div class="form-group">
            <label afsp-or="Namedanhmuc">Tên Danh mục</label>
            <input asp-for="Namedanhmuc" class="form-control" />
            <span asp-validation-for="Namedanhmuc" class="text-danger"></span>
        </div>
        <!-- Hidden Description field to set DateTime -->
        <div style="display: none;">
            <input asp-for="Description" class="form-control" value="@DateTime.Now" />
        </div>
        <button type="submit" class="btn btn-primary">Xoá</button>
        <a asp-action="Index" class="btn btn-primary">Huỷ</a>
    </form>
</div>