@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                Tìm kiếm
                            </div>
                            <input type="text" placeholder="">
                            <button type="submit" class="site-btn"><i class='bx bx-search'></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__links">
                    <a class="links_color" href="./index.html">Home</a>
                    <a href="#">Women’s </a>
                    <span>Essential structured blazer</span>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="product-details spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="product__details__pic">
                    <div class="product__details__pic__left product__thumb nice-scroll">
                        <a class="pt active" href="#product-1">
                            <img src="~/img/giay.jpg" alt="">
                        </a>
                        <a class="pt" href="#product-2">
                            <img src="~/img/giay.jpg" alt="">
                        </a>
                        <a class="pt" href="#product-3">
                            <img src="~/img/giay.jpg" alt="">
                        </a>
                        <a class="pt" href="#product-4">
                            <img src="~/img/giay.jpg" alt="">
                        </a>
                    </div>
                    <div class="product__details__slider__content">
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-hash="product-1" class="product__big__img" src="~/img/giay.jpg" alt="">
                            <img data-hash="product-2" class="product__big__img" src="~/img/giay.jpg" alt="">
                            <img data-hash="product-3" class="product__big__img" src="~/img/giay.jpg" alt="">
                            <img data-hash="product-4" class="product__big__img" src="~/img/giay.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="product__details__text">
                    <h3>GIÀY NIKE ZOOMX INVINCIBLE RUN FK 3 NAM - XANH NAVY
                    <div class="rating">
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <span>( 138 reviews )</span>
                    </div>
                        <div class="product__details__price">
                            4.990.000₫<span>5.579.000₫</span>
                        </div>
                    <div class="product__details__button">
                        <div class="quantity">
                            <span>Quantity:</span>
                            <div class="pro-qty">
                                <input type="text" value="1">
                            </div>
                        </div>
                        <a href="#" class="cart-btn">Add to cart</a>
                        <ul>
                                <li><a href="#"><span class='bx bxs-heart'></span></a></li>
                        </ul>
                    </div>
                    <div class="product__details__widget">
                        <ul>
                            <li>
                                <span>Tình trạng:</span>
                                <div class="stock__checkbox">
                                    <label>
                                        Còn hàng
                                    </label>
                                </div>
                            </li>
                            <li>
                                <span>Chọn màu:</span>
                                <div class="color__checkbox">
                                    <label for="red">
                                        <input type="radio" name="color__radio" id="red" checked>
                                        <span class="checkmark"></span>
                                    </label>
                                    <label for="black">
                                        <input type="radio" name="color__radio" id="black">
                                        <span class="checkmark black-bg"></span>
                                    </label>
                                    <label for="grey">
                                        <input type="radio" name="color__radio" id="grey">
                                        <span class="checkmark grey-bg"></span>
                                    </label>
                                </div>
                            </li>
                            <li>
                                    <span style="padding-top: 11px;">Size:</span>
                                    <div class="size__btn">
                                    <label for="xs-btn" class="active">
                                        <input type="radio" id="xs-btn">
                                        xs
                                    </label>
                                    <label for="s-btn">
                                        <input type="radio" id="s-btn">
                                        s
                                    </label>
                                    <label for="m-btn">
                                        <input type="radio" id="m-btn">
                                        m
                                    </label>
                                    <label for="l-btn">
                                        <input type="radio" id="l-btn">
                                        l
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Mô tả sản phẩm</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 2 )</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <p>
                                Giày Nike ZoomX Invincible Run FK 3 là siêu phẩm giày thể thao cao cấp nhất của Nike trong năm nay, một mẫu giày khiến bạn không thể rời mắt khi nhìn thấy nó ở bất cứ nơi đâu. Thiết kế đẹp, kiểu dáng đẳng cấp và công nghệ đỉnh cao là những gì bạn có thể nói về Giày Nike ZoomX Invincible Run FK 3.
                            </p>
                            <p>
                                Giày Nike ZoomX Invincible Run FK 3 với khả năng giảm chấn thương tối đa mang lại cho chúng ta cảm giác thoải mái nhất khi chạy bộ hàng ngày. Trải nghiệm phần trên Flyknit thoáng khí và nền tảng chắc chắn của bọt ZoomX nhẹ giúp giảm tác động. Ngoài ra, đế giữa của mẫu này rộng hơn và cao hơn mẫu trước để mang lại sự thoải mái hơn nữa khi được đệm.
                            </p>
                            <p>
                                Với thiết kế và công nghệ đỉnh cao, Giày Nike ZoomX Invincible Run FK 3 chắc chắn là mẫu giày mà bất cứ ai cũng muốn được lên chân và sở hữu nó.
                            </p>
                        </div>
                        <div class="tab-pane" id="tabs-3" role="tabpanel">
                            <h6>Dũng</h6>
                            <p>
                                Shop giao hàng nhanh, đóng gói rất cẩn thận, giày lên chân cực êm, bảo vệ chân rất tốt, được ông bạn giới thiệu mua giày của shop vô cùng hài lòng 5* cho shop
                            </p>
                            <div class="rating">
                                <i style="color: #FFCC00" class='bx bxs-star'></i>
                                <i style="color: #FFCC00" class='bx bxs-star'></i>
                                <i style="color: #FFCC00" class='bx bxs-star'></i>
                                <i style="color: #FFCC00" class='bx bxs-star'></i>
                                <i style="color: #FFCC00" class='bx bxs-star'></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="related__title">
                    <h5>Sản phẩm liên quan</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic">
                        <img src="~/img/giay.jpg" alt="">
                        <ul class="product__item__pic__hover">
                            <li><a href="~/img/giay.jpg" class="image-popup"><span class ='bx bx-expand'></span></a></li>
                            <li><a href="#"><span class='bx bx-heart'></span></a></li>
                            <li><a href="#"><span class='bx bx-shopping-bag'></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Giày</a></h6>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="product__price">1,000,000 Đ</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic">
                        <img src="~/img/giay.jpg" alt="">
                        <ul class="product__item__pic__hover">
                            <li><a href="~/img/giay.jpg" class="image-popup"><span class='bx bx-expand'></span></a></li>
                            <li><a href="#"><span class='bx bx-heart'></span></a></li>
                            <li><a href="#"><span class='bx bx-shopping-bag'></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Giày</a></h6>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="product__price">1,000,000 Đ</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic">
                        <img src="~/img/giay.jpg" alt="">
                        <ul class="product__item__pic__hover">
                            <li><a href="~/img/giay.jpg" class="image-popup"><span class='bx bx-expand'></span></a></li>
                            <li><a href="#"><span class='bx bx-heart'></span></a></li>
                            <li><a href="#"><span class='bx bx-shopping-bag'></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Giày</a></h6>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="product__price">1,000,000 Đ</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="product__item">
                    <div class="product__item__pic">
                        <img src="~/img/giay.jpg" alt="">
                        <ul class="product__item__pic__hover">
                            <li><a href="~/img/giay.jpg" class="image-popup"><span class='bx bx-expand'></span></a></li>
                            <li><a href="#"><span class='bx bx-heart'></span></a></li>
                            <li><a href="#"><span class='bx bx-shopping-bag'></span></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="#">Giày</a></h6>
                        <div class="rating">
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                            <i class='bx bxs-star'></i>
                        </div>
                        <div class="product__price">1,000,000 Đ</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>