@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model SanPham
<div class="container contain">
    <h1>Sửa sản phẩm</h1>
    <form class="form-group" enctype="multipart/form-data" method="post">
        <input asp-for="IdSanPham" type="hidden" /> <!--đây là chỗ gửi idsanpham để biết cần sửa xoá idsanpham nào-->
        <div class="space">
            <label asp-for="TenSanPham">Tên Sản phẩm</label>
            <input asp-for="TenSanPham" class="form-control" />
        </div>
        <div>
            <label asp-for="ImgDaiDien">Hình Ảnh Sản Phẩm</label>
            <input type="file" id="imageFile" class="form-control" />
            <input type="hidden" asp-for="ImgDaiDien" id="imageBase64" />
        </div>
       <div class="space">
            <label asp-for="GiaSanpham">Giá Bán Sản Phẩm</label>
            <input asp-for="GiaSanpham" class="form-control" />
        </div>
       <div class="space">
            <label asp-for="GiamGia">Giảm giá</label>
            <input asp-for="GiamGia" class="form-control" />
        </div>
       <div class="space">
            <label asp-for="MoTaSanPham">Mô Tả Sản PHẩm</label>
            <textarea rows="3" cols="50" asp-for="MoTaSanPham"></textarea>
        </div>
       <div class="space">
            <label asp-for="DanhmucId">Thuộc Danh Mục</label>
            <select asp-for="DanhmucId" asp-items="@(new SelectList(ViewBag.DanhMucList, "Id", "Namedanhmuc"))" class="form-control">
                <option value="">Chọn danh mục</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Lưu</button> <!--Chuyển dữ liệu qua mạng-->
        <a asp-action="HienSanPham" class="btn btn-primary">Huỷ</a> <!--chuyển trang đến trang HienSanPham-->
    </form>
</div>
<!--mã hoá dữ liệu hình ảnh-->
@section Scripts {
    <script type="text/javascript">
        document.getElementById('imageFile').addEventListener('change', function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var base64String = e.target.result.split(',')[1];
                    document.getElementById('imageBase64').value = base64String;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>
}
